<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>테스트폰 대여</title>
</head>
<body>
  <div class="container-fluid pb-3">
    <div class="row mt-4 mx-3">
      <div class="col align-self-start">
        <img src="/static/img/olive_logo.png" alt="logo" width="300px" />
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <div class="container-fluid d-flex flex-column align-items-center">
          <div class="row w-100 justify-content-center">
            <div class="col d-flex justify-content-center">
              <button class="btn-light menu-btn js-filter-all" onclick="location.href='/'">All</button>
              <button class="btn-light menu-btn js-filter-aos" onclick="location.href='?os=aos'">AOS</button>
              <button class="btn-light menu-btn js-filter-ios" onclick="location.href='?os=ios'">IOS</button>
            </div>
          </div>
          <div class="row mt-3" style="max-width: 1600px">
            <% allDeviceList.forEach(function(deviceInfo) { %>
              <div class="col-3 d-flex justify-content-center landing__card mt-3">
                <div class="card" style="width: 18rem; margin-top: 30px">
                  <img src="<%= deviceInfo.img_url %>" class="card-img-top" alt="..." height="260px">
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= deviceInfo.name %>
                    </h5>
                    <div class="card-text">
                      <div>no. <%= deviceInfo.no %></div>
                      <div>OS: <%= deviceInfo.os %> (<%= deviceInfo.os_version %>)</div>
                      <div class="mt-3">
                        <% if(deviceInfo.is_return == true){ %>
                          <span class="text-danger">상태: 대여불가 </span>
                        <%} else {%>
                          <span class="text-primary">상태: 대여가능</span>
                        <%} %>
                      </div>
                      <% if(deviceInfo.is_return == true){ %>
                        <span class="text-center w-100 js-date" data-start="<%= deviceInfo.start_date %>" data-end="<%= deviceInfo.end_date %>">_</span>
                      <%} %>
                      </div>
                    <div class="d-flex w-100 justify-content-center">
                      <button class="btn btn-primary mt-3 js-reservation" data-id="<%= deviceInfo.id %>">예약 및 대여</a>
                    </div>
                  </div>
                </div>
              </div>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="module" src="/static/js/landing.js"></script>
</body>
</html>