<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>테스트폰 대여 관리자 페이지</title>
</head>
<body>
  <div class="container-fluid pb-3">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="/static/img/olive_logo.png" alt="logo" width="230px" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02" style="margin-left: 15px;">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="/device/return">반납</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/device/edit">편집</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/device/add">추가</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="row m-3 w-100">
      <div class="col-12">
        <div class="container-fluid d-flex flex-column align-items-center">
          <div class="row mt-5 w-100">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">대여 번호</th>
                  <th scope="col">디바이스 No</th>
                  <th scope="col">대여자</th>
                  <th scope="col">부서명</th>
                  <th scope="col">대여 시작 일</th>
                  <th scope="col">반납 예상 일</th>
                  <th scope="col">반납</th>
                </tr>
              </thead>
              <tbody>
                <% reservationList.forEach(function(reservation) { %>
                  <tr>
                    <th scope="row"><%= reservation.id %></th>
                    <td><%= reservation.device_info_id %></td>
                    <td><%= reservation.name %></td>
                    <td><%= reservation.department %></td>
                    <td class="start-date" data-date="<%= reservation.start_date %>"></td>
                    <td class="end-date" data-date="<%= reservation.end_date %>"></td>
                    <td>
                      <button class="js-return" data-reservation-id="<%= reservation.id %>">반납</button>
                    </td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
  <script type="module" src="/static/js/device-return.js"></script>
</body>
</html>